.class
build/
/build
/build/
build
build/*
/*build
*/build/*

bin/
/bin
/bin/
bin
bin/*
*/bin
*/bin/*

*.class
logFile.txt


81-bad-gui-io/
/81-bad-gui-io
/81-bad-gui-io/
81-bad-gui-io/*
*/81-bad-gui-io/
*/81-bad-gui-io/*